//- Logo
a.logo(href=url_for('.'))
  = config.title
  
//- Navbar
ul.nav
  each link, name in theme.menu
    li.nav-link
      if is_home() && name == "Home"
        a.active(href=link)
          != __(name)
          
      else if is_archive() && name == "Archives" && !page.demo && !page.note
        a.active(href=link target="_self")
          != __(name)

      else if (is_category() || page.layout == "categories") && name == "Categories"
        a.active(href=link target="_self")
          != __(name)
          
      else if (is_tag() || page.layout == "tags") && name == "Tags"
        a.active(href=link target="_self")
          != __(name)
          
      else if page.layout == "about" && name == "About"
        a.active(href=link target="_self")
          != __(name)
          
      else
        a(href=link target="_self")
          != __(name)
  - var isShow = page.demo || page.note || (page.layout === 'post' && !page.published) || is_archive() || (is_tag() || page.layout == "tags")
  li.nav-link(style=isShow ? '': 'display: none')
    a(href=url_for('note') class= (page.note || page.layout === 'post' && !page.published) ? 'active': '') 笔记
  li.nav-link(style=isShow ? '': 'display: none')
    a(href=url_for('demo') class= page.demo ? 'active': '') 示例
